{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .logo {
  max-width: 50%;
}
</style>
<!-- 
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">

                <div class="site-heading">
                    <img class="img-responsive logo" src="imagens/images/WhatsApp_Image_2020-11-18_at_22.46.53.jpeg" alt="">

                </div>
            </div>
        </div>
    </div>
</header> -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->



        <div class="col-md-8 mt-3 left">


        <div class="card mb-4" >
            <div class="card-body">
                <form class="form-inline mt-2 mt-md-0" action="/search" >
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" name="search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" value="Submit" type="submit" id="button-addon2">Pesquisar</button>
                  </div>
              </form>
            </div>
        </div>


            {% for post in pesquisa %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text text-muted">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.resume|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Leia Mais &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        
    </div>
</div>


{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="&page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="&page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{%endblock%}