{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">CALENDÁRIO EVENTOS</h5>
    <div class="card-body">
        <p class="card-text"> Dia 16, campeonato nacional de F5J!</p>
        <a href="https://voabrasil.com.br"
           class="btn btn-danger">Completo!</a>
    </div>
</div>




</div>




{% endblock sidebar %}